<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5">
                <assemblies>
          <add assembly="MySql.Data, Version=5.0.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        </assemblies>
      </compilation>
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="cnstring" connectionString="Data Source=localhost; Database = chatt; User Id=root; Password=india@123" providerName="MySql.Data.MySqlClient" />
   
  </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
